:root {
  --mine-shaft: #272727;
  --white: white;
  --mine-shaft-dark: #313131;
  --black: black;
  --gray: #878787;
  --cod-gray: #1b1b1b;
  --red: #ef2a42;
  --emperor: #4F4F4F;
  --emperor-dark: #3A3A3A;
}